version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.8

    working_directory: /go/src/github.com/tomlazar/go-intervals

    steps:
      - checkout

      - run: go get -v github.com/golang/dep

      - restore_cache:
          keys:
            - godep

      - run: dep ensure

      - save_cache:
          key: godep
          paths:
            - "/go/pkg"

      - run: go test -v