version: 2
jobs:
  build:
    docker:
      - image: circleci/golang:1.8

    working_directory: /go/src/github.com/tomlazar/go-intervals

    steps:
      - checkout

      - run: curl -L -s https://github.com/golang/dep/releases/download/v${DEP_VERSION}/dep-linux-amd64 -o $GOPATH/bin/dep
      - run: chmod +x $GOPATH/bin/dep
      - restore_cache:
          keys:
            - godep

      - run: $GOPATH/bin/dep ensure

      - save_cache:
          key: godep
          paths:
            - "/go/pkg"

      - run: go test -v